[submodule ".registry"]
	path = .registry
	url = https://github.com/carmonalab/carmonalab.r-universe.dev
	branch = HEAD
[submodule "GeneNMF"]
	path = GeneNMF
	url = https://github.com/carmonalab/GeneNMF
[submodule "STACAS"]
	path = STACAS
	url = https://github.com/carmonalab/STACAS
[submodule "SignatuR"]
	path = SignatuR
	url = https://github.com/carmonalab/SignatuR
[submodule "UCell"]
	path = UCell
	url = https://github.com/carmonalab/UCell
[submodule "scGate"]
	path = scGate
	url = https://github.com/carmonalab/scGate
