[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GeneNMF"]
	path = GeneNMF
	url = https://github.com/carmonalab/genenmf
[submodule "scGate"]
	path = scGate
	url = https://github.com/carmonalab/scgate
